@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&display=swap');

.calendar-app {
  width: 70%;
  min-width: 80vmin;
  aspect-ratio: 3/2;
  background-color: #89adb7;;
  padding: 3rem;
  border-radius: 3rem;
  border: 1rem solid #151b23;
  display: flex;
  column-gap: 5rem;
  position: relative;
  transform-style: preserve-3d;
}

.events {
  width: 60%;
  height: 100%;
  padding: 3rem 0;
  overflow-y: auto;
}

.events::-webkit-scrollbar {
  display: none;
}





