.event-popup {
  position: absolute;
  top: 34%;
  left: 3rem;
  background-color: #285b5a;
  width: clamp(32rem, 21cqi, 40rem);
  aspect-ratio: 10/9;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  /* display: none; */
}

.event-time-input {
  display: flex;
  column-gap: 1rem;
}

.event-popup-time {
  width: clamp(2rem, 4cqi, 7rem);
  background-color: #00a3ff;
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(1.2rem, 1.5cqi, 2.2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1.5rem 1rem rgba(0, 163, 255, 0.2);
  letter-spacing: 0.1rem;
}

.event-time-input input {
  background-color: transparent;
  border: none;
  border-top: 0.2rem solid #00a3ff;
  border-top: 0.2rem solid #00a3ff;
  color: #fff;
  width: clamp(4rem, 4cqi, 7rem);
  height: 2rem;
  text-align: center;
  font-size: clamp(0.8rem, 1.2cqi, 1.1rem);
}

.event-time-input input[type='number']::-webkit-outer-spin-button,
.event-time-input input[type='number']::-webkit-inner-spin-button {
  appearance: none;
}

.event-popup textarea {
  width: clamp(20rem, 15cqi, 30rem);
  aspect-ratio: 5;
  resize: none;
  background-color: #0f1319;
  border: none;
  border-radius: 0.5rem;
  color: #78879e;
  transition: border 0.5sec;
}

.event-popup textarea:focus {
  border: 0.1rem solid #00a3ff;
}

.event-popup textarea::placeholder {
  font-size: clamp(1rem, 0.8cqi, 1.2rem);
  color: #78879e;
}

.event-popup textarea:focus::placeholder {
  color: transparent;
}
.event-media {
  display: flex;
  flex-direction: row;
  color: #fff;
  width: clamp(20rem, 15cqi, 30rem);
  column-gap: 1rem;
  position: relative;
}
.event-media-input {
  width: 80%;
}

.event-media-remove-btn {
  position: absolute;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.event-media-remove-btn i {
  font-size: 2rem;
  color: #fff;
}

.event-popup-btn {
  width: clamp(15rem, 15cqi, 25rem);
  height: 4rem;
  background-color: #ef9011;
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(1.2rem, 1.5cqi, 2.2rem);
  letter-spacing: 0.1rem;
  border: none;
  cursor: pointer;
}
.event-popup-btn:active {
  transform: translateY(0.1rem);
}

.event-popup-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.event-popup-close-btn i {
  font-size: 2rem;
  color: #fff;
}
